*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;

}

body{
  background: #fcc
}

@media screen and (min-width: 500px)
{

  body{
	font-family: 'lucida grande' , tahona, vandana arian, sans-serif;
	background-image: url(../images/background.jpg);
	width:99%;
	margin:auto;

}
}
@media screen and (min-width: 1000px)
{
  body
  {
    background: #ccf;
   

  };



}





.logotext{
position:absolute; top:10px; right: 450px;
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background-image: url(../images/background.jpg);
  width:auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: right;
}
#cssmenu ul li a {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  padding: 15px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: upper-alpha;
  font-size: 25px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #FFFFFF;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: fixed; 
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #333333;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #FFFFFF;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}


#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    border-bottom: 1px solid #FFFFFF;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border-right: none;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}



.introvideo{
position:absolute; top:160px; right:455px;

}

.ps4image{
    position: absolute; top:22%; left:1%;
}

.GTAonline{
    position: absolute; top:200px; right: 20px;
}

.Fortnite{

    position: absolute; top: 525px; right: 20px;
}

.Witcher3{

  position: absolute; top: 550px; left: 10px;

}

.Hitman2{

  position: absolute; top: 490px; left: 450px;

}

.copyrighttext{
    position:absolute; top: 800px; right: 500px;
    font-size: 30px;
    color: yellow;
}






	