*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
  
  }
  
  body{
    background: #fcc
  }
  
  @media screen and (min-width: 500px)
  {
  
    body{
      font-family: 'lucida grande' , tahona, vandana arian, sans-serif;
      background-image: url(../images/background.jpg);
      width:99%;
      margin:auto;
  
  }
  }
  @media screen and (min-width: 1000px)
  {
    body
    {
      background: #ccf;
     
  
    };
  
  
  
  }


.farcrygameimage{
        position:absolute; top:20%; right:850px;	
}


.PagenamePCGames{
        position: absolute; top:50px; right: 50px; 
        font-size: 20px;
        color:lightcoral;   
}


.FarCryPrice{
position: absolute; top:480px; left: 445px;
font-size: 15px;	
color: royalblue;
}



.BO4image{

    position: absolute; top:20%; left: 1%;
}

.BO4Price{
position: absolute; top:480px; left: 100px;
font-size: 15px;	
color: royalblue;
}



.Flightsimulatorimage{
position: absolute; top: 20%; right: 35%;	
}


.FlightsimulatorPrice{
position: absolute; top:480px; right: 595px;
font-size: 18px;	
color: royalblue;
}




.Witcher3Image{

    position: absolute; top: 20%; right: 10%;
}

.Witcher3Price{

    position: absolute; top:480px; right: 250px;
    font-size: 25px;
    color: royalblue;
}

.BO4PP{

    position: absolute; top: 550px; left: 80px;
}

.PPFarcryPC{

    position: absolute; top: 550px; left: 425px;
}

.PPFlightPC{

    position: absolute; top: 550px; left: 765px;
}

.PPWitcher3PC{

    position: absolute; top: 550px; right: 200px;
}


.copyrighttext1{

    position: fixed; top: 800px; right: 600px;
    font-size: 25px;
    color: yellow;
}
