*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
  
  }
  
  body{
    background: #fcc
  }
  
  @media screen and (min-width: 500px)
  {
  
    body{
      font-family: 'lucida grande' , tahona, vandana arian, sans-serif;
      background-image: url(../images/background.jpg);
      width:99%;
      margin:auto;
  
  }
  }
  @media screen and (min-width: 1000px)
  {
    body
    {
      background: #ccf;
     
  
    };
  
  
  
  }






.farcrygameimage{
        position:fixed; top:350px; right:1150px;	
}


.PagenamePCGames{
        position: absolute; top:50px; right: 50px; 
        font-size: 20px;
        color:lightcoral;   
}

.FarCryimagedescription{
position: absolute; top: 200px; right: 1030px;
color:yellow;
border-bottom: 1px; 
}	

.FarCryimagedescription .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.FarCryimagedescription:hover .tooltiptext {
    visibility: visible;
}

.FarCryPrice{
position: fixed; top:160px; right: 1220px;
font-size: 12px;	
color: yellow;
}

.FarCryVideo{
position: fixed; top: 400px; right: 1090;	
}


.BO4image{

    position: absolute; top:20%; left: 1%;
}

/* Tooltip container */
.GTA5imagedescription {
    position: relative;
    display: inline-block;
	position: fixed; top: 200px; right:580px;
	color: yellow;
    border-bottom: 1px; 
}

/* Tooltip text */
.GTA5imagedescription .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.GTA5imagedescription:hover .tooltiptext {
    visibility: visible;
}

.BO4Price{
position: absolute; top:480px; left: 100px;
font-size: 15px;	
color: royalblue;
}

.GTA5Video{
position: fixed; top: 400px; right: 650px;
}	

.Flightsimulatorimage{
position: fixed; top: 200px; right: 250px;	
}

/* Tooltip container */
.Flightsimulatordescription {
    position: relative;
    display: inline-block;
	position: fixed; top: 200px; right:130px;
	color: yellow;
    border-bottom: 1px; 
}

/* Tooltip text */
.Flightsimulatordescription .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Flightsimulatordescription:hover .tooltiptext {
    visibility: visible;
}

.FlightsimulatorPrice{
position: fixed; top:160px; right: 310px;
font-size: 15px;	
color: yellow;
}

.FlightSimulatorVideo{
position: fixed; top:400px; right: 195px
}




