body{
width:99%;
margin:auto;
min-width:600px;
max-width:2000px;		
}


.pagenamePS4ConsoleGames{
position:absolute; top:50px; right:50px;
font-size: 15px;
color: lightcoral;
}

.LastOfUsimage{
position:absolute; top:200px; right:1150px;	
}

.LastOfUsdescription{
position: absolute; top: 180px; right: 1030px;
color:yellow;
border-bottom: 1px; 
}	

.LastOfUsdescription .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.LastOfUsdescription:hover .tooltiptext {
    visibility: visible;
}

.LastOfUsPrice{
position: absolute; top:160px; right: 1220px;
font-size: 15px;	
color: royalblue;
}

.LastOfUsVideo{
position: fixed; top: 400px; right: 1090;	
}

.Assassins_Creed_The_Ezio_Collectiongameimage{
position:fixed; top:200px; right:700px;			
}


/* Tooltip container */
.Assassins_Creed_The_Ezio_Collectiongamedescription {
    position: relative;
    display: inline-block;
	position: fixed; top: 200px; right:580px;
	color: yellow;
    border-bottom: 1px; 
}

/* Tooltip text */
.Assassins_Creed_The_Ezio_Collectiongamedescription .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.Assassins_Creed_The_Ezio_Collectiongamedescription:hover .tooltiptext {
    visibility: visible;
}

.Assassins_Creed_The_Ezio_CollectiongameimagePrice{
position: fixed; top:165px; right: 750px;
font-size: 18px;	
color: royalblue;
}

.Assassins_Creed_The_Ezio_CollectiongameVideo{
position: fixed; top: 400px; right: 650px;
}	

.BlackOps3image{
position: fixed; top: 200px; right: 250px;	
}

/* Tooltip container */
.BlackOps3description {
    position: relative;
    display: inline-block;
	position: fixed; top: 200px; right:120px;
	color: yellow;
    border-bottom: 1px; 
}

/* Tooltip text */
.BlackOps3description .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.BlackOps3description:hover .tooltiptext {
    visibility: visible;
}

.BlackOps3Price{
position: fixed; top:160px; right: 310px;
font-size: 18px;	
color: royalblue;
}

.BlackOps3Video{
position: fixed; top:400px; right: 195px
}

.PPTLOUPS4{

    position: fixed; top: 700px; left: 120px;

}

.PPACEzioPS4{

    position: fixed; top: 900px; right: 50px;
}

.PPBO3PS4{

    position: fixed; top:750px; right: 50px;
}

